* {
    margin: 0;
    box-sizing: border-box;
}


:root {
    --light: #fff;
    --dark: #272727;
    --accent: #0988d1;
    --darkaccent: #063285;
    --minimal: 'Atkinson Hyperlegible', sans-serif;
}

body{
    font-family: var(--minimal);
    font-size: 20px;
    background-color: #b8c6db;
    background-image: linear-gradient(315deg, #b8c6db 0%, #f5f7fa 74%);
    background-repeat: no-repeat;
    background-size:cover;
}

.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
}


/* ------------------------------------------ */


header{
    background-color: #0cbaba;
    background-image: linear-gradient(315deg, #0cbaba 0%, #380036 74%);
    display: flex;
    justify-content: center;
    align-items: center;
}

#h_text {
    color: var(--light);
    font-size: 80%;
}


main{
    display: flex;
    flex-direction: column;
    
}

.btn{
    padding: 1rem 3rem;
    font-family: var(--minimal);
    font-weight: 800;
    font-size: 80%;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}

p{
    margin: .5rem 0;
}


/* ------------------------------------------ */

#search_container{
    display: flex;
    flex-direction: column;
}


.search{
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;
    padding: 2rem 1.8rem .8rem 1.8rem;
    border-radius: 10px;
    background-color: var(--light);
}

#s_text{
    color: var(--dark);
    letter-spacing: 1px;
    font-size: 140%;
    margin-bottom: .5rem;
    text-align: center;
}

#s_input{
    padding: 1rem 0;
    margin-bottom: .5rem;
    text-align: center;
    font-size: 12pt;
}

::placeholder{
    text-align: center;
    font-size: 12pt;
}

#search_btn{
    background-color: var(--accent);
    color: var(--light);
    opacity: 0.6;
    border: none;

}

#search_btn:hover {opacity: 1}

hr{
    margin: 1rem 0;
}

#s_history_btn{
    margin-bottom: 1rem;
    background-color: rgb(206, 204, 204);
    width: 100%;
}




/* ------------------------------------------ */


.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.current{
    background-color: var(--light);
    margin: 2rem 2rem 2rem 2rem;
    padding: 2rem;
    border-radius: 10px;

}

#uv{
    background-color: rgb(57, 158, 17);
    color: white;
    padding: .1rem .45rem;
    border-radius: 10px;
}

/* .current, .future{
    border: 1px solid var(--dark);
} */


/* ------------------------------------------ */

h3{
    padding-left: 2rem;
}

.future{
    margin: 0rem 2rem 1rem 2rem;
}


.container{
    display: flex;
    flex-direction: column;
    width: 100%;
    

}

.card{
    background-color: var(--darkaccent);
    color: var(--light);
    padding: 1rem 2rem;
    border-radius: 10px;
    width: 100%;
    margin-bottom: 1rem;
    font-size: 120%;
}





@media screen and (min-width: 1362px) {
    main{
        flex-direction: column;
        justify-content: center;
        /* height: 90vh; */
    }

    #search_container{
        display: flex;
        flex-direction: column;
    }
    
    #history_container{
        flex-wrap: wrap;
        justify-content: start;
    }
    
    .search{
    padding: 0 10rem;
    flex-direction: column;
    justify-content: space-between;
    }

    #s_history_btn{
        margin-bottom: 1rem;
        background-color: rgb(206, 204, 204);
        width: 11rem;
    }

    .current{
        display: flex;
        flex-direction: column;
        text-align: left;
        text-align: center;
    }

    #today{
        font-size: 250%;
    }

    .current p{
        font-size: 200%;
    }

    .info{
        display: flex;
        height: 100%;
        
    }

    .container{
        flex-direction: row;
        justify-content:space-between;



    }

    .card{
        width: 100%;
        text-align: left;
        margin: 1rem;
        padding-left: 1.5rem;
    }
}